<!DOCTYPE html>
<html>
<head>
		<title>明明KNOWS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		
		
		<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../static/css/main.css" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</head>
<body style="background-color:rgb(211,212,205)">
 <div class=" searchinfo navbar-fixed-top row-fluid">
        <div class="container-fluid">
            {% if user.is_authenticated %}
            <div class="row-fluid"><span class="glyphicon glyphicon-user col-md-2">
            	{{ user }}</span><a href="../../index" class="col-md-offset-9 col-md-1"><span class="linkindex">首页</span></a></div>
            <div class="row-fluid"><a href="../../usercenter/information" ><span>个人中心</span></a>
            
            <a href="../../logout" ><span>退出</span></a>
				<a href="../../message/list" class="col-md-offset-11"><span>消息
						{% if messages != 0 %}
						<span>({{messages}})</span> {% endif %}
                    </span>
                </a>
                
                {% else %}
                <a href="../../allmessages"><span class="glyphicon glyphicon-user"></span></a>
                <span>欢迎，请 <a href="../../allmessages">登录</a></span> 

                <a href="../../index" ><span>首页</span></a>{% endif %}
            </div>
        </div>
    </div>
<div class="container-fluid">
	<div class="top">
		<div class="infoname">
		<span class="glyphicon glyphicon-user"></span>
		<p style="font-size:20px;">{{user.name}}</p>
		</div>
	</div>
	<div class="leftside col-md-2">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="glyphicon glyphicon-th-list"></span>
        </button>
        <nav class="navbar-collapse collapse" role="navigation">
            <ul class="nav nav-tabs nav-stacked">
            	<li><a href="../../usercenter/information"><span class="glyphicon glyphicon-info-sign"></span>个人信息</a></li>
                <li><a href="../../usercenter/myquestions"><span class="glyphicon glyphicon-question-sign"></span>我的问题</a></li>
                <li><a href="../../usercenter/myanswers"><span class="glyphicon glyphicon-comment"></span>我的回答</a></li>
                <li><a href="../../usercenter/changepwd"><span class="glyphicon glyphicon-warning-sign"></span>修改密码</a></li>
                <li><a href="../../usercenter/timetree"><span class="glyphicon glyphicon-sort"></span>时间之轴</a></li>
            </ul>
        </nav>
	</div>
	<div class="rightside col-md-10">
		<div class="wdinfo">
		<form method = "POST" action="/changepwd">
			{{changepwdform}}
			<input class="btn btn-lg btn-info btn-block"type="submit" value="提交" style="margin-top:4em;">
		</form>
	</div>
		<div class="righttest">
			
		</div>
	</div>
</div>
	
	
</body>
</html>
