<!DOCTYPE HTML>
<html>
	<head>
		<title>明明KNOWS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="./static/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css">
		<link rel="stylesheet" href="./static/css/main.css" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript" src="./static/js/bootstrap.js"></script>
		<script type="text/javascript" src="./static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="./static/js/bootstrap-collapse.js"></script>
        
		<!--[if lte IE 8]><link rel="stylesheet" href="./static/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="./static/css/ie9.css" /><![endif]-->
		
	</head>
	<body>
		<div class="main">
			<ul id="myTab" class="nav nav-tabs">
			   <li class="active">
			      <a href="#login" data-toggle="tab">
			         log in
			      </a>
			   </li>
			   <li><a href="#register" data-toggle="tab">register</a></li>
			   <li id="return"><a href="../" >return</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
			   <div class="tab-pane fade in active " id="login">
			      <form class="form-horizontal"id="login" method="post" action="/login" role="form">
			      <div class="form-group container">
			      {% for field in  loginform%}
			      <div class="row">
					<label for = '{{field.id_for_label}}' class ="control-label col-xs-4">{{field.label}}</label>
					<div class="col-xs-8">{{field}}</div>
				</div>
			      {% endfor %}				
					<div class="row">
					<input class="btn group-btn  col-xs-push-1 col-xs-11 col-sm-push-1 col-sm-11 col-md-push-1 col-md-11 col-lg-push-1 col-lg-11"type="submit" value="Gogogogo!">
				</div>
				</div>
				  </form>
			   </div>
			   <div class="tab-pane fade" id="register">

			      <form class="form-horizontal " id="register" method="post" action="/register" role="form">
			      <div class="form-group container">
					 {% for field in  registerform%}
					 <div class="row">
						<label for = '{{field.id_for_label}}' class ="control-label col-xs-4">{{field.label}}</label>
						<div class="col-xs-8">{{field}}</div>
					</div>
			      {% endfor %}	
			      <div class="row">
					<input class="btn group-btn col-xs-push-1 col-xs-11 col-sm-push-1 col-sm-11 col-md-push-1 col-md-11 col-lg-push-1 col-lg-11"type="submit" value="Gogogogo!">
				</div>
				</div>
				  </form>
				  
			   </div>
			</div>
		</div>

		<!-- Signup Form -->
			
		<!-- Footer -->
			
			
	</body>
</html>