<!DOCTYPE html>
<html>
<head>
		<title>明明KNOWS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		
		
		<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../static/css/main.css" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</head>
<body style="background-color:rgb(211,212,205)">
<div class=" searchinfo navbar-fixed-top row-fluid">
                    <div class="span12">
                         {% if user.is_authenticated %} 
                    <span class="glyphicon glyphicon-user"></span>
                    <span>{{ user }}</span>
                    <div><a href="../../logout"class="linkindex"><span class="glyphicon glyphicon-off">退出</span></a>
                    <a href = "../../index" ><span class="glyphicon glyphicon-home">首页</span></a>
                   
                     <a href="../../message/list"> <span class="glyphicon glyphicon-volume-up">消息
						{% if messages != 0 %}
						<span>({{messages}})</span>
						{% endif %}
	                    </span></a>
                    
                    {% else %} 
                    <a href="../../login"><span class="glyphicon glyphicon-user"></span></a>
                    <span>欢迎，请 <a href="../../login">登录</a></span>
                    {% endif %}     

                     
	                   	
                    </div>
                    </div>            
</div>
<div class="container-fluid">
	<div class="top">
		<div class="infoname">
		<span class="glyphicon glyphicon-cog"></span>
		<p style="font-size:20px;">个人中心</p>
		</div>
	</div>
	<div class="leftside col-md-2">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="glyphicon glyphicon-th-list"></span>
        </button>
        <nav class="navbar-collapse collapse" role="navigation">
            <ul class="nav nav-tabs nav-stacked">
            	<li><a href="../../usercenter/information"><span class="glyphicon glyphicon-info-sign"></span>个人信息</a></li>
                <li><a href="../../usercenter/myquestions"><span class="glyphicon glyphicon-question-sign"></span>我的问题</a></li>
                <li><a href="../../usercenter/myanswers"><span class="glyphicon glyphicon-comment"></span>我的回答</a></li>
                <li><a href="../../usercenter/changepwd"><span class="glyphicon glyphicon-warning-sign"></span>修改密码</a></li>
                <li><a href="../../usercenter/timetree"><span class="glyphicon glyphicon-sort"></span>时间之轴</a></li>
            </ul>
        </nav>
	</div>
	<div class="rightside col-md-10">
	<div class="list">
		<ul>{%for item in answerlist%}
			<li class="col-md-12 mylist"><a href='../../{{item.QuestionID.ID}}/{{item.QuestionID.UserID.id}}/detail'>{{item.QuestionID.Title}}</a>
			</li>
			{%endfor%}
		</ul>
	</div>
		
	</div>
</div>
	
	
</body>
</html>