<!DOCTYPE HTML>
<html>

<head>
    <title>明明KNOWS</title>
   <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		
		
		<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../static/css/main.css" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</head>

<body style="background-color:rgb(211,212,205)">

    <!-- Header -->
    <div class=" searchinfo navbar-fixed-top row-fluid">
                    <div class="span12">
                         {% if user.is_authenticated %} 
                    <span class="glyphicon glyphicon-user"></span>
                    <span>{{ user }}</span>
                    <div><a href="./logout"><span>退出</span></a>
                    <a href=""><span>个人中心</span></a>
                    </div>
                    {% else %} 
                    <a href="./login"><span class="glyphicon glyphicon-user"></span></a>
                    <span>欢迎，请 <a href="./login">登录</a></span>
                    {% endif %}     
                    </div>
                </div>
    {% autoescape off %}
    <div id="wrapper" class="container">
        <div id="container" class="row">
            {% for sa in question1 %}
            <div class="grid col-xs-12">
                
                {{sa.title}}
                <br>
                <div class="accordion-inner">
                    <h4 style="font-color:red;"><strong>描述</strong></h4>
                    <p>{{sa.Description}}</p>
                </div>
                <div>
                    <h4 tyle="font-color:red;"><strong>回答</strong></h4> <p>{% for item in sa.bestanswer %}</p>
                    <h4 tyle="font-color:red;"><strong>最佳答案</strong></h4>
                    <h5>{{item.Content}}</h5>
                    <hr> {% empty %}
                    <h4>No Best Answer</h4> {% endfor %} <p>{% for item in sa.answers %}</p>
                    <h4 tyle="font-color:red;"><strong>其他回答</strong></h4>
                    <h5><p>{{item.Content}}<p></h5>
                    <hr> {% empty %}
                    <h4>No Answer</h4> {% endfor %}
                </div>
                <hr>
            </div>
            {% endfor %} {%for line in html%}
            <div class="baiduqus col-xs-12">
               
                <a href={{line.link}}>{{line.title}}</a>
                <br>
                <h4 tyle="font-color:red;"><strong>描述</strong></h4> {%if line.question%}{{line.question}} {%else%} <em>no description</em> {%endif%}
                <br>
                <h4 tyle="font-color:red;"><strong>回答</strong></h4><p> {{line.answer}}</p>
                <hr>
            </div>
            {%endfor%}
        </div>
    </div>
     {% endautoescape %}
    <!-- Footer -->
    <!-- Scripts -->
    <!--[if lte IE 8]>
	<script src="./static/js/ie/respond.min.js"></script>
	<![endif]-->
	<footer class="container-fluid">
		<div class="row-fluid"><a href="../{{wd}}/{{keyformer}}"><button  class="btn  col-xs-offset-11 col-xs-1 btnpage1" ><span class="glyphicon glyphicon-arrow-right"></span></button></a></div>
		<div class="row-fluid"><a href="../{{wd}}/{{keynext}}"><button  class="btn   col-xs-offset-11 col-xs-1 btnpage2" ><span class="glyphicon glyphicon-arrow-left"></span></button></a></div>
        <div class="row-fluid"><a href="../"><button  class="btn   col-xs-1 btnask" ><span class="glyphicon glyphicon-question-sign"></span>提问</button></a></div>
	</footer>
 
</body>

</html>
