*{
	margin: 0;
}
html  body {
	height: 100%;
	margin: 0;
}
.main{
	position: relative;
	
	height: 100%;
	width: 100%;
}
.mid{
	position: relative;
	height: 100%;
	margin-top:12%;
	width: 90%
}
.mid-title {
	position: relative;
	float: center;
}
.mid-form {
	position: relative;
	float: center;
}
#myTab {
	margin: 120px auto auto auto;
	width: 80%;
	border-style: solid;
	border-color: rgba(154,183,172,0.3);
	border-width: 5px;
}
#myTabContent{
	margin: auto; 
	width: 80%;
	border-style: none solid solid solid;
	border-color: rgba(154,183,172,0.3);
	border-width: 5px;
}
form{
	padding-left: 25px;
	padding-top: 10px;
}
.form-group{
	width: 70%;
	border-width: 1px;
	margin:auto;
	padding: 0;
}
