html  body {
	height: 100%;
	margin: 0;
}
.main{
	position: relative;
	
	height: 100%;
	width: 100%;
}
.mid{
	position: relative;
	height: 100%;
	margin-top:12%;
	width: 90%
}
.mid-title {
	position: relative;
	float: center;
}
.mid-form {
	position: relative;
	float: center;
}
#myTab {
	margin: 150px auto auto auto;
	width: 75%;
	border-style: solid;
	border-color: rgba(154,183,172,0.3);
	border-width: 5px;
}
#myTabContent{
	margin: auto; 
	width: 75%;
	border-style: none solid solid solid;
	border-color: rgba(154,183,172,0.3);
	border-width: 5px;
}
