*{
	margin: 0;
}
html  body {
	height: 100%;
	margin: 0;
}
.main{
	
}
.mid{
	
}
.logo{
	margin-top: 5em;
	margin-left: 45%;
}
.logo img{
	max-height: 5em;
	max-width: auto;
}
.mid-title {
	
}
.mid-form {
	
}
#myTab {
	margin: 120px auto auto auto;
	width: 80%;
	border-style: solid;
	border-color: rgba(154,183,172,0.3);
	border-width: 5px;
}
#myTabContent{
	margin: auto; 
	width: 80%;
	border-style: none solid solid solid;
	border-color: rgba(154,183,172,0.3);
	border-width: 5px;
}
form{
	padding-left: 25px;
	padding-top: 10px;
}

.form-group{
	width: 70%;
	border-width: 1px;
	margin:auto;
	padding: 0;
}
.input{
	width: 100%;
}
.group-btn{
	margin-top:5px;
	margin-left: 10px;
}
