*{
	margin: 0;
	font-size: 1em;
	font-family: "微软雅黑","华文细黑",Arial, Helvetica, sans-serif;
}
html  body {
	height: 100%;
	width: 100%;
	margin: 0;
  padding-top: 40px;
  padding-bottom: 10px;

}
.main{
	height: 100%;
	width: 100%;
}
.mid{
	position: relative;
}



#myTab {
	margin: 120px auto auto auto;
	width: 80%;
	border-style: solid;
	border-color: rgba(154,183,172,0.3);
	border-width: 5px;
}
#myTabContent{
	margin: auto; 
	width: 80%;
	border-style: none solid solid solid;
	border-color: rgba(154,183,172,0.3);
	border-width: 5px;
}
.form-group{
	width: 70%;
	border-width: 1px;
	margin:auto;
	padding: 0;
}
.input{
	width: 100%;
}
.group-btn{
	margin-top:5px;
	margin-left: 10px;
}
.dbqus {
  border: solid 1px;
  border-color: rgba(170,183,172,0.3);
  border-radius: 10px;
  background-color: rgba(170,170,240,0.9);
  padding-top: 5px;
  margin-top: 10px;
}
.baiduqus {
  border: solid 1px;
  border-color: rgba(170,183,172,0.3);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.9);
  padding-top: 5px;
  margin-top: 10px;
}
.btnpage1{
  background-color: rgba(160,161,161,0.8);
  position: fixed;
  bottom: 60px;
  right: 20px;


}
.btnpage2{
  background-color: rgba(160,161,161,0.8);
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.btnask{
  background-color: rgba(160,161,161,0.8);
  position: fixed;
  bottom: 20px;
  left: 5px;
  width: 70px;
  height: 70px;
  -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%
}
.searchinfo{
   background-color: rgb(180,180,180);
   border: solid 1px;
   border-color: rgba(235,235,235,0.9);
}
.putqus{
  position: fixed;
  top:20%;
  left: 35%;
}
.questioninfo{
  padding:10px 1em 20px 1em ;
  border: solid 1px;
  border-color: rgba(170,183,172,0.3);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.9);
}
.questioninfo p{
  text-indent: 2em;
  margin-top: 1em;
  margin-left: 2em;
  
}
.bestinfo{
  margin-top:10px;
  padding:10px 1em 20px 1em ;
  border: solid 1px;
  border-color: rgba(170,183,172,0.3);
  border-radius: 10px;
  background-color: rgba(255,230,255,0.9);
}
.bestinfo p{
  text-indent: 2em;
  margin-top: 1em;
  margin-left: 2em;
  
}
.otherinfo{
  margin-top:10px;
  padding:10px 1em 20px 1em ;
  border: solid 1px;
  border-color: rgba(170,183,172,0.3);
  border-radius: 10px;
  background-color: rgba(255,255,230,0.9);
}
.otherinfo p{
  text-indent: 2em;
  margin-top: 1em;
  margin-left: 2em;
  
}
.putanswer{
  margin-top: 10px;
}
.answer-btn{
  margin-top: 10px;
}
.questionput{
  margin-top: 10px;
}
.top{
  background-color: rgba(186,40,53,1);
  height: 150px;
  position: relative;
  z-index: 10;


}
.infoname{
  font-size: 40px;
  text-align: center;
}
.infoname span{
  margin-top: 30px;
  border: solid 8px;
  border-radius: 50%;

}
.infoname p{
  margin-top: -5px;
}
.leftside{
  margin-top: 10px;
  background-color: rgba(25,24,22,0.81);
  min-height: 40px;
  padding-bottom: 10px;
  height:100%
}
.leftside nav li{
  border: dashed;
  margin-top: 39px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing:5px;

}
.leftside button{
  width: 30px;
  height: 30px;
  position: relative;
}
.leftside button span{
  color:gray;
  top:-5px;
}
.rightside{
  margin-top: 10px;
  z-index: 5;
  position: relative;
}
.infoboard{
  position: relative;
  top:5em;
}
.infoedit{
  font-family: Microsoft YaHei;
  font-weight: bold;
  font-size: 15px;
}
.infodt dt em{
  font-family: Microsoft YaHei;
  font-weight: bolder;
  font-style: normal;
  font-size: 25px;

}
.infodt dd{
  margin-top: 2em;
}
.infodt dd p{
  font-family: Microsoft YaHei;
  font-weight: normal;
  font-size: 20px;

}
.infodt dd p span{
  font-family: Microsoft YaHei;
  font-weight: lighter;
  font-size: 20px;

}
.wdinfo{
  
  position: relative;
  top:1em;
}
.wdinfo form *{
  margin-top: 1em;
}
.list{
  position: relative;
  top:2em;
}
.list ul li{
  margin-top: 2em;
  font-family: Microsoft YaHei;
  font-size: 17px;
}
@media screen and (max-width: 2000px) and (min-width: 1701px){ 
.rightside{
  margin-left: 21em;
  margin-top: 10em;
  

}
.leftside{
  position: fixed;
  left: 0px;
  top:12em;
}
  .top{
  position: fixed;
  top:30px;
  height: 150px;
  width: 100%;
  right: 0;
}
.mid-title img{
	max-height: 5em;
	max-width: auto;
}
.mid-title {
	width: 50%;
  height: 50%;

  margin: 5em auto auto auto;
  position: absolute;
  top: 0; left: 63em; bottom: 0; right: 0;
}
.mid-form {
  margin: 10em auto auto auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}

.second{
  margin-top: 10px;
}
}
@media screen and (max-width: 1700px) and (min-width: 1601px){ 
.rightside{
  margin-left: 19em;
  margin-top: 10em;
  

}
.leftside{
  position: fixed;
  left: 0px;
  top:12em;
}
  .top{
  position: fixed;
  top:30px;
  height: 150px;
  width: 100%;
  right: 0;
}

.mid-title img{
	max-height: 5em;
	max-width: auto;
}
.mid-title {
	width: 50%;
  height: 50%;

  margin: 5em auto auto auto;
  position: absolute;
  top: 0; left: 50em; bottom: 0; right: 0;
}
.mid-form {
  margin: 10em auto auto auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}
} 
@media screen and (max-width: 1600px) and (min-width: 1401px){ 
.rightside{
  margin-left: 18em;
  margin-top: 10em;
  

}
.leftside{
  position: fixed;
  left: 0px;
  top:12em;
}
  .top{
  position: fixed;
  top:30px;
  height: 150px;
  width: 100%;
  right: 0;
}


.mid-title img{
	max-height: 5em;
	max-width: auto;
}
.mid-title {
	width: 50%;
  height: 50%;

  margin: 5em auto auto auto;
  position: absolute;
  top: 0; left: 40em; bottom: 0; right: 0;
}
.mid-form {
  margin: 10em auto auto auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}
} 
@media screen and (max-width: 1400px) and (min-width: 1201px){ 
.rightside{
  margin-left: 15em;
  margin-top: 10em;
  

}
  .leftside{
  position: fixed;
  left: 0px;
  top:12em;
}
  .top{
  position: fixed;
  top:30px;
  height: 150px;
  width: 100%;
  right: 0px;
}
.mid-title img{
	max-height: 5em;
	max-width: auto;
}
.mid-title {
	width: 50%;
  height: 50%;

  margin: 5em auto auto auto;
  position: absolute;
  top: 0; left: 38em; bottom: 0; right: 0;
}
.mid-form {
  margin: 10em auto auto auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}
} 
@media screen and (max-width: 1200px) and (min-width: 1101px){ 
.rightside{
  margin-left: 13em;
  margin-top: 10em;
  

}
 .leftside{
  position: fixed;
  left: 0px;
  top:12em;
}
  .top{
  position: fixed;
  top:30px;
  height: 150px;
  width: 100%;
  right: 0;
}

.mid-title img{
	max-height: 5em;
	max-width: auto;
}
.mid-title {
	width: 50%;
  height: 50%;

  margin: 5em auto auto auto;
  position: absolute;
  top: 0; left: 30em; bottom: 0; right: 0;
}
.mid-form {
  margin: 10em auto auto auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}
} 
/* css注释：设置了浏览器宽度不小于1201px时 abc 显示1200px宽度 */ 

@media screen and (max-width: 1100px) and (min-width: 851px){ 
.mid-title img{
	max-height: 5em;
	max-width: auto;
}
.mid-title {
	width: 50%;
  height: 50%;

  margin: 5em auto auto auto;
  position: absolute;
  top: 0; left: 25em; bottom: 0; right: 0;
}
.mid-form {
  margin: 10em auto auto auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}
} 
/* 设置了浏览器宽度不大于1200px时 abc 显示900px宽度 */ 

@media screen and (max-width: 850px) and (min-width: 501px){ 
.mid-title img{
	max-height: 5em;
	max-width: auto;
}
.mid-title {
	width: 50%;
  height: 50%;

  margin: 5em auto auto auto;
  position: absolute;
  top: 0; left: 15em; bottom: 0; right: 0;
}
.mid-form {
  margin: 10em auto auto auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}
} 
/* 设置了浏览器宽度不大于901px时 abc 显示200px宽度 */ 

@media screen and (max-width: 500px) and (min-width: 320px) { 
.mid-title img{
	max-height: 5em;
	max-width: auto;
}
.mid-title {
	width: 50%;
  height: 50%;

  margin: 5em auto auto auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.mid-form {
  margin: 10em auto auto auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  
}
} 
